@import "ember-cli-bootstrap-4/bootstrap";
@import "spin-button";

a {
  &.clickable {
    cursor: pointer;

    .select {
      &:hover {
        color: white;
        @extend .bg-success;
      }
    }

    .deselect {
      &:hover {
        color: white;
        @extend .bg-danger;
      }
    }
  }
}
