<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How Long to Binge?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<meta name="howlongtobinge/config/environment" content="%7B%22modulePrefix%22%3A%22howlongtobinge%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22SOCKET_HOST%22%3A%22%22%2C%22name%22%3A%22howlongtobinge%22%2C%22version%22%3A%220.0.0+e253bc53%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link integrity="" rel="stylesheet" href="/assets/vendor-2cc3ab6c0c8b8b7103a3a8673ec9eb56.css">
    <link integrity="" rel="stylesheet" href="/assets/howlongtobinge-25eb50051e198409c9d04eab3fb81070.css">

    
  </head>
  <body>
    

    <script src="/assets/vendor-de07109f128fd97551f2a672c5817764.js" integrity="sha256-UuSBQxLa1InhsT6cweUtJ5rnhStjo30Aza68J1N7h8M= sha512-H7bnENjYOf2v/xd5QjCKTHW3mNu3YgX5ykpNwsReMKR8JP2jquKviTk4I2j/ykbLgUMXjXTh/i0F4WgURNQXgg==" ></script>
    <script src="/assets/howlongtobinge-7f8f5be50052b4ecf176cf68b566c008.js" integrity="sha256-qLIqIoc0+IdX4m1v3uVr3uF/3gA0k2WQtBx/kpi+8Qg= sha512-E3oyfK6yPaksQcYs7MxGRz+NMleoAIhRy07qhsh+e4R1MynC25YHou96gSTCWvotTfE78eEbcn0K1hf+0A/EJQ==" ></script>

    
  </body>
</html>
