<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How Long to Binge?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<meta name="howlongtobinge/config/environment" content="%7B%22modulePrefix%22%3A%22howlongtobinge%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22SOCKET_HOST%22%3A%22%22%2C%22name%22%3A%22howlongtobinge%22%2C%22version%22%3A%220.0.0+48aab4a3%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link integrity="" rel="stylesheet" href="/assets/vendor-3031edc09ed7ebb8fc3b68c50d4b8b4f.css">
    <link integrity="" rel="stylesheet" href="/assets/howlongtobinge-25eb50051e198409c9d04eab3fb81070.css">

    
  </head>
  <body>
    

    <script src="/assets/vendor-844c91ba8a52290617501ff56aba9608.js" integrity="sha256-CcjAMAwwHLrY3eHnYTLi/Wpqio5mCysdXQBxUZ+vqic= sha512-CxRvQvcNxsyCj7QZCZMkjkEBouVpwLSY7784fo8xj64eH2WH1ZYqNFzY3Z3vkk9eKjMCMXp10UyAaAgESpCVaQ==" ></script>
    <script src="/assets/howlongtobinge-f23a98ceb390c6303f44937cd68fbe10.js" integrity="sha256-EYh4LQNupIoMoXPCpGRZxi3fKPGG1K3cMXxIn7RrugU= sha512-ycJMb6QWX9XzXEighvZ+27mLr1ZjtvYy4pFMB1csdndS4Nos5iiugnSRxPKDmrVSE7D8TUJqPpSiIh3yMBr+xA==" ></script>

    
  </body>
</html>
