<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How Long to Binge?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<meta name="howlongtobinge/config/environment" content="%7B%22modulePrefix%22%3A%22howlongtobinge%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22SOCKET_HOST%22%3A%22%22%2C%22name%22%3A%22howlongtobinge%22%2C%22version%22%3A%220.0.0+f8dd3b2c%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link integrity="" rel="stylesheet" href="/assets/vendor-2cc3ab6c0c8b8b7103a3a8673ec9eb56.css">
    <link integrity="" rel="stylesheet" href="/assets/howlongtobinge-25eb50051e198409c9d04eab3fb81070.css">

    
  </head>
  <body>
    

    <script src="/assets/vendor-de07109f128fd97551f2a672c5817764.js" integrity="sha256-UuSBQxLa1InhsT6cweUtJ5rnhStjo30Aza68J1N7h8M= sha512-H7bnENjYOf2v/xd5QjCKTHW3mNu3YgX5ykpNwsReMKR8JP2jquKviTk4I2j/ykbLgUMXjXTh/i0F4WgURNQXgg==" ></script>
    <script src="/assets/howlongtobinge-c38c1256671c1ad747017230bf3d683f.js" integrity="sha256-p1j7N0Zp2L11gjBQCHquPgGzNk3DO/R1oY2jyvk3XqA= sha512-uehKWJQKRER9077eguaGSsOIdKVow932IfAS5FQLiT8vU4hpM2yALr3WGf7/05yVV0i1odM6CUXeiMboYfYgVw==" ></script>

    
  </body>
</html>
