<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How Long to Binge?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<meta name="howlongtobinge/config/environment" content="%7B%22modulePrefix%22%3A%22howlongtobinge%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22SOCKET_HOST%22%3A%22%22%2C%22name%22%3A%22howlongtobinge%22%2C%22version%22%3A%220.0.0%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link integrity="" rel="stylesheet" href="/assets/vendor-d41d8cd98f00b204e9800998ecf8427e.css">
    <link integrity="" rel="stylesheet" href="/assets/howlongtobinge-669ed8278f2dac97f90f426fb319fb5f.css">

    
  </head>
  <body>
    

    <script src="/assets/vendor-052a69312170d8e22bcbf8466c0f4a3c.js" integrity="sha256-I4WZYrGh86zkBX3KJRix01l30RBl3hhVpRAtIvkRde8= sha512-pJ8a4LcqsIfR0aeUXezEAVRbrdu1UmwtrQfqMMfq/JPnSV09TWhmXurszvMh3NWf+3BW9SQ1vdiAZkyKRfoPOQ==" ></script>
    <script src="/assets/howlongtobinge-024abbcabd092ab5758734c86ec7c4fc.js" integrity="sha256-aekeOn7sBwylSZTJQxJHYDNHQ17EZANPyPpm9spYpdY= sha512-B0TvpGYqOH93bRBRiPObGqBa/FCvK6f/QC1KsvfWNEmHhTsH3Fra48zo38p2NJoQ8cJuTs87cldBZ84I6fwFcQ==" ></script>

    
  </body>
</html>
